.recipe {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
  color: #ff6347;
  font-size: 2rem;
  margin-bottom: 10px;
}

.recipe p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.recipe ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.recipe li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.recipe .back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.recipe .back-button:hover {
  background-color: #45a049;
}

